.search {
    margin: 30px 0 30px 0;
}


/* SEARCH BY RECIPE */
.searchRecetteContainer {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 100px 0 100px;
}

.inputRecette {
    height: 55px;
    width: 100%;
    background-color: #E6E6E6FF;
    border: none;
    border-radius: 5px;
}

.inputRecette::placeholder {
    opacity: 0.7;
}

.searchIcon {
    position: absolute;
    top: 13px;
    right: 11%;
    height: 30px;
}

/* WORD CONTAINER */
.wordContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 30px 0 30px 100px;
}

.selectedIngredientContainer {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color:#3282F7;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
}

.selectedAppareilContainer {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color:#68D9A4;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;

}


/* SEARCH BY CATEGORIES */
.searchByCategoriesContainer {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
}

.globalIconArrow {
    height: 30px;
    color: white;
    transition-duration: 0.3s;
}

.iconArrowSearchActive {
    transform: rotate(180deg);
}

/* search by ingredients */
.searchByIngredients {
    display: flex;
    flex-direction: column;
    max-width: 667px;
    min-width: 170px;
    width: 170px;
    height: fit-content;
    overflow: hidden;
    background-color: #3282F7FF;
    border-radius: 5px;
    position: relative;
    margin-right: 50px;
}

.searchByIngredientsTyping {
    width: fit-content;
}

.iconIngredientContainer {
    position: absolute;
    right: 8px;
    top: 12px;
}

.searchByIngredientsInput {
    background-color: transparent;
    color: white;
    border: none;
    height: 55px;
    min-width: 200px;
    max-width: 350px;
}

.searchByIngredientsInput:focus {
    outline: none;
}

.searchByIngredientsInput::placeholder {
    color: white;
    font-weight: 500;
}

.searchByIngredientsResult {
    display: flex;
    flex-wrap: wrap;
    max-height: 300px;
    padding: 0 20px 0 20px;
    overflow: auto;
    min-width: 200px;
    background-color: transparent;

}

.searchByIngredientsResult::-webkit-scrollbar {
    width: 0;
  }

.ingredientContainer {
    /* display: flex; */
    color: white;
    width: 100px;
    margin: 10px 110px 10px 10px;
    font-size: 14px;
}

/* search by APPAREIL */
.searchByAppareils {
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: hidden;
    background-color: #68D9A4;
    border-radius: 5px;
    position: relative;
    margin-right: 50px;
}

.searchByAppareilsTyping {
    width: fit-content;
}

.searchByAppareilsInput {
    background-color: transparent;
    color: white;
    border: none;
    height: 55px;
    min-width: 170px;
}

.iconAppareilsContainer {
    position: absolute;
    right: 8px;
    top: 12px;
}

.searchByAppareilsInput {
    background-color: transparent;
    color: white;
    border: none;
    height: 55px;
    min-width: 170px;
}

.searchByAppareilsInput:focus {
    outline: none;
}

.searchByAppareilsInput::placeholder {
    color: white;
    font-weight: 500;
}

.searchByAppareilsResult {
    display: flex;
    flex-wrap: wrap;
    max-height: 300px;
    overflow: auto;
    min-width: 170px;
    background-color: transparent;

}

.searchByAppareilsResult::-webkit-scrollbar {
    width: 0;
}

/* search by USTENSILS */
.searchByUstensiles {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    min-width: 200px;
    height: fit-content;
    overflow: hidden;
    background-color: #ED6454;
    border-radius: 5px;
    position: relative;
    margin-right: 50px;
}

.iconUstensilesContainer {
    position: absolute;
    right: 8px;
    top: 12px;
}
